@import 'reset';
.size{
	font-size: 12px;
	color: #666;
}
.message{
	width: 1210px;
	margin: 0 auto;
}
.block{
	display: block;
}
.nav1{
	display: inline-block;
   	color: #666;
   	position: relative;
}
.top{
	text-align: center;
	float: left;
}
.clearFix::after{
	content:'';
	display: block;
	clear: both;
}
.nav_t{
	img{
		display: block;
		width: 100%;
	}
	a:hover {
	    color: #b28247 !important;
	}
	height: 30px;
	background: #f2f2f2;
	.nav_t_w{
		@extend .message;
		.nav_l1{
			@extend .nav1;
    		width: 110px;
    		p{
    			@extend.top;
    			.icon{
    				display: inline-block;
    				width: 16px;
    				height: 14px;
    				background: url(../images/home.png) no-repeat center;
				    position: absolute;
				    left: 2px;
				    top: 7px;
    			}
    			a{
    				display: inline-block;
    				margin-left: 22px;
    				line-height: 30px;
    				overflow: hidden;
    			}
    			span{
    				display: inline-block;
    				position: absolute;
				    height: 12px;
				    right: 0;
				    top: 9px;
				    border-left: 1px solid #dfdfdf
    			}
    		}
		}
		.nav_l2{
			@extend .nav1;
			p{
				@extend.top;
				padding-left: 6px;
				.icon{
					width: 25px;
    				height: 30px;
    				display: inline-block;
    				background: url(../images/brandstore_share.png) no-repeat -348px -338px;
				}
				span{
					@extend .size;
					display: inline-block;
					line-height: 30px;
					overflow: hidden;
				}
			}
		}
		.nav_r{
			width: 604px;
			line-height: 30px;
    		position: relative;
    		vertical-align: middle;
    		float: right;
    		.code{
    			display: inline-block;
    			width: 106px;
    			padding: 0 12px;
    			position: absolute;
    			right: 0px;
    			cursor: pointer;
    			&:hover{
					background: #fff;
    			}
    			&:hover .code_n{
					display: block;
					position: relative;
    				z-index: 10;
    			}
    			p{
    				@extend.top;
    				line-height: 30px;
				    height: 30px;
				    width: 100%;
				    position: relative;
				    padding-left: 5px;
				    color: #666;
				    background: url(../images/brandstore_share.png) no-repeat -218px -369px;
				    &:hover{
						background: url(../images/brandstore_share.png) no-repeat -218px -404px;
    					color: #d00000;
				    }
				    span{
				    	float: left;
				    	font-size: 12px;
				    }
    			}
    			.code_n{
			    	clear: both;
			    	@extend.top;
			    	background: #fff;
			    	display: none;
			    	ul li{
			    		width: 106px;
						line-height: 20px;
						font-size: 13px;
						line-height: 20px;
						font-size: 13px;
						color: #666;
						span{
							font-size: 16px;
							color: #d00000;
						}
			    	}
				}
    		}
    		.help{
    			display: inline-block;
    			position: absolute;
    			width: 85px;
			    right: 130px;
			    top: 0;
			    .help_w{
			    	@extend.top;
    				line-height: 30px;
				    height: 30px;
				    width: 100%;
				    position: relative;
				    a{
				    	@extend.size;
				    	float: left;
				    	padding-left: 17px
				    }
				    .icon{
				    	position: absolute;
					    height: 12px;
					    right: 0;
					    top: 9px;
					    border-left: 1px solid #dfdfdf;
				    }
			    }
    		}
    		.my{
    			display: inline-block;
    			width: 130px;
			    position: absolute;
			    right: 215px;
			    top: 0;
			    z-index: 1;
			    &:hover{
			    	background: #fff;
			    }
			    &:hover .my_n{
					display: block;
			    }
			    .my_w{
			    	@extend.top;
			    	line-height: 30px;
				    height: 30px;
				    width: 100%;
				    position: relative;
				    background: url(../images/brandstore_share.png) no-repeat -253px -436px;
				    &:hover{
				    	background: url(../images/brandstore_share.png) no-repeat -253px -464px;
				    }
				    a{
				    	line-height: 30px;
				    	float: left;
				    	padding-left: 15px;
				    }
				    .icon{
				    	position: absolute;
					    height: 12px;
					    right: 0;
					    top: 9px;
					    border-left: 1px solid #dfdfdf;
				    }
			    }
			    .my_n{
			    	@extend.top;
    				width: 100%;
    				background: #fff;
    				display: none;
    				ul li{
						height: 30px;
    					text-align: center;
    					a:hover{
    						color:#d00000 !important;
    					}
    				}
			    }
    		}
    		.reg{
    			position: absolute;
			    right: 350px;
			    top: 0;
			    .reg_r{
			    	width: 88px;
			    	display: inline-block;
			    	p{
			    		@extend.top;
			    		line-height: 30px;
					    height: 30px;
					    width: 100%;
					    position: relative;
					    span{
					    	width: 22px;
						    height: 24px;
						    float: left;
						    background: url(../images/youli.gif) no-repeat;
						    margin: 0 5px 0 17px;
					    }
					    a{
					    	float: right;
    						margin-right: 18px;
					    }
					    .icon{
					    	position: absolute;
						    height: 12px;
						    right: 0;
						    top: 9px;
						    border-left: 1px solid #dfdfdf;
					    }
			    	}
			    }
			    .reg_l{
			    	width: 100px;
			    	display: inline-block;
			    	p{
			    		float: left;
			    		text-align: right;
			    		line-height: 30px;
					    height: 30px;
					    width: 100%;
					    position: relative;
					    a{
							padding-right: 20px;
							&:hover{
								color: #d00000 !important;
							}
					    }
					    .icon{
					    	position: absolute;
						    height: 12px;
						    right: 0;
						    top: 9px;
						    border-left: 1px solid #dfdfdf;
					    }
			    	}
			    }
    		}
		}
	}
}
nav{
	background: #fff;
	.head_w{
		height: 110px;
		position: relative;
		@extend.message;
		.head_l{
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 244px;
		    height: 110px;
		    a{
		    	display: inline-block;
		    }
		}
		.head_i{
			position: absolute;
			top: 14px;
    		left: 290px;
    		width: 142px;
		    height: 80px;
		    overflow: hidden;
		    a{
		    	display: inline-block;
		    }
		}
		.seek{
			overflow: hidden;
		    position: absolute;
		    left: 485px;
		    top: 36px;
		    form{
		    	height: 67px;
		    }
		    .seek_w{
		    	width: 383px;
			    padding: 2px 2px;
			    background: #c69c6d;
			    height: 34px;
			    input{
			    	outline: none;
				    width: 300px;
				    height: 34px;
				    line-height: 34px;
				    vertical-align: middle;
				    border: none;
				    background: #fff;
				    padding-left: 3px;
				    float: left;
			    }
			    button{
			    	width: 80px;
				    height: 34px;
				    border: none;
				    float: left;
				    color: #fff;
				    font-size: 15px;
				    background: none;
			    }
			    ul {
			    	li{
						float: left;
					   	color:#FFD7B3;
					    font-size: 11px;
					    padding-right: 25px;
					    line-height: 32px
			    	}
			    }
		    }
	     .seek_n{
		    	width: 302px;
		    	background: #fff;
		    	border:1px solid #ccc;
	    	    position: relative;
			    left: 1px;
			    top: -31px;
			    display: none;
		    	li{
		    		height: 25px;
		    		font-size: 12px;
		    		padding: 0px 10px;
		    		&:hover{
		    			background: rgba(0,0,0,0.1);
		    		}
		    		a{
		    			line-height: 25px;
		    			float: left;
		    		}
		    		p{
		    			float: right;
		    			line-height: 25px;
		    			color: #666;
		    		}
		    	}
		    }
		}
		.shopp{
			position: absolute;
		    right: 10px;
		    top: 35px;
		    z-index: 1;
			.shopp_w{
				width: 290px;
			    background: #fff;
			    position: relative;
			    p{
					width: 138px;
				    height: 32px;
				    line-height: 32px;
				    text-indent: 45px;
				    border: 1px solid #ccc;
				    box-shadow: 0 0 2px rgba(0,0,0,.2);
				    position: relative;
				    float: right;
				    color: #666;
				    font-size: 12px;
				    background: url(../images/brandstore_share.png) no-repeat -337px -405px;
				    img{
				    	position: absolute;
					    left: 10px;
					    top: 2px;
					    width: 22px;
					    height: 24px;
				    }
				    span{
				    	color:#d00000;
				    }
			    }
			    .shopp_n{
					clear: both;
				    width: 268px;
				    padding: 10px 10px 20px 10px;
				    border: 1px solid #ccc;
				    text-align: center;
				    box-shadow: 0 0 2px rgba(0,0,0,.2);
				    background-color: #fff;
				    display: none;
				    ul{
				    	max-height: 335px;
					    overflow-y: auto;
					    overflow-x: hidden;
					    div{
					    	font-size: 12px;
					    	line-height: 23px;
					    }
				    }
			    }
			}
		}
	}
}
.head_f{
	width: 100%;
    height: 38px;
    background: url(../images/navi_1pxbg.png) repeat-x;
    vertical-align: middle;
    box-shadow: 0 4px 4px #c7c6c6;
    .gps{
    	@extend.message;
    	position: relative;
    	.menu{
    		clear: both;
		    height: 40px;
		   	@extend.message;
		    position: relative;
		    .menu_w{
		    	display: inline-block;
			    float: left;
			    z-index: 20;
			    font-size: 14px;
			    text-align: center;
			    height: 40px;
			    line-height: 40px;
			    .menu_w_a{
			    	display: block;
				    width: 82px;
				    height: 38px;
				    color: #c8a985;
				    font-size: 14px;
				    &:hover{
				    	color: #fff !important;
				    }
				    &:hover i{
				    	background-position: -366px -252px;
				    }
				    i{
				    	display: inline-block;
					    float: left;
					    width: 19px;
					    height: 40px;
					    line-height: 40px;
					    background: url(../images/share02.png) no-repeat -58px -169px;
					    margin-left: 23px;
				    }
			    }
		    }
		    .menu_g{
		    	&:hover .gps_w{
				   display: block;
				}
		    	.menu_g_a{
		    		width: 130px;
				    background: url(../images/lux_index.png) -8px -215px no-repeat;
				    font-size: 14px;
				    font-weight: bold;
				    height: 38px;
				    color: #fff;
				    display: inline-block;
				    z-index: 1;
				    &:hover{
				    	color: #fff !important;
				    }
		    	}
		    	.gps_w{
		    		display: none;
		    		width: 130px;
				    min-height: 585px;
				    position: absolute;
				    z-index: 2;
				    vertical-align: top;
				    background: #fff;
				    opacity: 0.85;
				    ul li{
						vertical-align: top;
					    width: 130px;
					    z-index: 2;
					    .group{
					    	background-color: #fff;
						    opacity: 0.85;
						    height: 36px;
						    text-align: left;
						    line-height: 36px;
						    margin: 0 auto;
						    position: relative;
						    padding-left: 48px;
						    background: url(../images/brand_category1.png) 15px no-repeat;
						    &:hover{
						    	opacity: 1;
						    	background: url(../images/brand_category2.png) 15px no-repeat;
						    }
						    &:hover i{
								display: block;
						    }
						    a{
						    	font-size: 14px;
						    	color: #000;
						    	span{
						    		font-size: 14px;
						    	}
						    	i{
						    		display: none;
						    		position: absolute;
								    right: 2px;
								    top: 2px;
								    height: 36px;
								    width: 20px;
								    background: url(../images/share02.png) no-repeat -304px -33px;
						    	}
						    }
					    }
					    .group1{
    						background-position: -3px -5px;
    						&:hover{
    							background-position: -3px -5px;
    						}
						}
						.group2{
							background-position: -3px -36px;
							&:hover{
								background-position: -3px -36px;
							}
						}
						.group3{
    						background-position: -3px -68px;
    						&:hover{
    							background-position: -3px -68px;
    						}
						}
						.group4{
    						background-position: -3px -100px;
    						&:hover{
    							background-position: -3px -100px;
    						}
						}
						.group5{
							background-position: -3px -132px;
							&:hover{
								background-position: -3px -132px;
							}
						}
						.group6{
							background-position: -3px -165px;
							&:hover{
								background-position: -3px -165px;
							}
						}
						.group7{
							background-position: -3px -196px;
							&:hover{
								background-position: -3px -196px;
							}
						}
						.group8{
							background-position: -3px -228px;
							&:hover{
								background-position: -3px -228px;
							}
						}
						.group9{
							background-position: -3px -261px;
							&:hover{
								background-position: -3px -261px;
							}
						}
						.group10{
							background-position: -3px -294px;
							&:hover{
								background-position: -3px -294px;
							}
						}
						.group11{
							background-position: -3px -326px;
							&:hover{
								background-position: -3px -326px;
							}
						}
						.group12{
							background-position: -3px -357px;
							&:hover{
								background-position: -3px -357px;
							}
						}
						.group13{
							background-position: -3px -390px;
							&:hover{
								background-position: -3px -390px;
							}
						}
						.group14{
							background-position: -3px -422px;
							&:hover{
								background-position: -3px -422px;
							}
						}
						.group15{
							background-position: -3px -458px;
							&:hover{
								background-position: -3px -458px;
							}
						}
						.pag{
							width: 800px;
							background: #fff;
							position: absolute;
						    left: 130px;
						    top: 0px;
						    z-index: 1;
						    min-height: 570px;
						    display: none;
						    .shop{
						    	background-color: #ffffff;
							    min-width: 605px;
							    max-width: 750px;
							    border-bottom: #d7d7d7 1px solid;
							    margin: 10px 0px 10px 20px;
							    float: left;
							    clear: both;
							    overflow: hidden;
							    line-height: 25px;
								h2{
									float: left;
								    color: #CF0201;
								    width: 105px;
								    font-size: 14px;
								    padding-left: 25px;
								    text-align: left;
								    a{
								    	font-size: 14px;
    									color: #CF0201;
    									&:hover{
    										text-decoration: underline;
    									}
								    }
								}
								.shop_w{
									max-width: 500px;
								    min-height: 25px;
								    line-height: 25px;
								    float: left;
								    display: block;
								    a{
								    	color: #757272;
									    font-size: 12px;
									    float: left;
									    margin-right: 10px;
									    &:hover{
									    	text-decoration: underline;
									    }
								    }
								}
						    }
						    .shopBtn{
						    	float: left;
							    padding-left: 25px;
							    width: 590px;
							    height: 70px;
							    a{
									display: block;
								    width: 115px;
								    height: 30px;
								    line-height: 30px;
								    text-align: center;
								    color: #fff;
								    background-color: #cf0201;
								    margin-top: 20px;
								    float: left;
								    margin-left: 20px;
								    font-size: 14px;
							    }
						    }	
						}
				    }
		    	}
		    }
    	}
    	.icons{
    		position: absolute;
		    right: 15px;
		    top: 0;
		    height: 38px;
		    line-height: 0px;
		    overflow: hidden;
		    z-index: 1;
		    li{
		    	width: 30px;
		    	float: left;
			    margin-right: 12px;
			    width: 30px;
			    overflow: hidden;
			    div{
			    	width: 200px;
    				overflow: hidden;
    				a{
    					height: 38px;
    					display: inline-block;
    					span{
    						display: inline-block;
						    width: 30px;
						    height: 40px;
						    line-height: 40px;
						    float: left;
						    margin-right: 3px;
    					}

					 	b{
					    	font-weight: 400;
						    float: left;
						    color: #fff;
						    line-height: 38px;
					    }
    					.pp{
    						 background: url(../images/share02.png) no-repeat -237px -66px;
    					}
    					.vip{
    						background: url(../images/share02.png) no-repeat -296px -66px;
    					}
    					.sf{
    						background: url(../images/share02.png) no-repeat -354px -66px;
    					}
    				}
			    }
		    }
    	}
    }
}
.main_w{
	width: 1100px;
	margin: 15px auto 0 auto;
	overflow: hidden;
}
.main_l{
	width: 480px;
    float: left;
    table{
    	border-collapse: collapse;
    }
}
.imag{
	border: solid 1px #EAEAEA;
    width: 478px;
    height: 478px;
    overflow: hidden;
    text-align: center;
    position: relative;
    	  img{
	    	position: absolute;
		    left: 0px;
		    top: 0px;
		    right: 0px;
		    bottom: 0px;
		    margin: auto;
		    width: auto;
		    height: 100%; 
	    }
	 
}
.imgs{
	position: relative;
}
.imgs_w{
	width: 480px;
    padding: 25px 0;
    overflow: hidden;
    .btn_l{
    	position: absolute;
	    top: 25px;
	    left: 0;
	    width: 15px;
	    height: 87px;
	    cursor: pointer;
	    background: transparent url(../images/brandstore_share.png) no-repeat -32px -362px;
	    background-color: #f2f2f2;
	    z-index: 2;
    }
    .btn_r{
	    position: absolute;
	    top: 25px;
	    right: 0;
	    width: 15px;
	    height: 87px;
	    cursor: pointer;
	    background: transparent url(../images/brandstore_share.png) no-repeat -73px -362px;
	    background-color: #f2f2f2;
	    z-index: 2;
    }
    .imgs_c{
    	width: 1000px;
	    height: 87px;
	    padding-left: 13px;
	    .imgs_c_w{
		    overflow: hidden;
		    width: 100%;
		    height: 100%;
		    ul{
		    	position: relative;
		    	left:0px;
		    	li{
		    		width: 85px;
	       			height: 87px;
	   		 		padding: 0 3px;
	   		 		float: left;
	   		 		div{
	   		 			height: 85px;
	                    width: 83px;
	    				overflow: hidden;
	    				position: relative;
	   					border: 1px solid #ccc;
	   					img{
	   						display: block;
	   						height: 85px;
	   						margin: 0 auto;
	   					}
	   		 		}
		    	}
		    }
	    }

    }
}
.main_c{
	position: absolute;
	left: 44%;
	z-index: 2;
	display: none;
	overflow: hidden;
	width:400px;
	height: 478px;
	border:1px solid #ccc;
	box-shadow: 3px 3px  5px #ccc;
	img{
		position: absolute;
		// width:100%;
	}
}
.chonk{
	width:150px;
	height: 150px;
	background: #ccc;
	opacity: 0.5;
	position: absolute;
	top:0px;
	left:0px;
	display: none;
}
.main_r{
	width: 560px;
    min-height: 615px;
    overflow: hidden;
    float: left;
    padding-left: 60px;
    overflow-x: hidden;
}
.ils{
	width: 100%;
	position: relative;
	li{
		dl{
			dd{
				line-height: 30px;
			}
		}
		.price{
			color: #c8a985;
		    font-size: 28px;
		    line-height: 34px;
		}
		.passPrice{
			line-height: 37px;
		    vertical-align: middle;
		    margin-right: 5px;
		    color: #999;
		    font-size: 16px;
		    text-decoration: line-through;
		}
		.vip{
			position: relative;
		    display: inline-block;
		    cursor: pointer;
		    vertical-align: middle;
		    &:hover .vip_x{
				display: block;
		    }
		    .vip_w{
		    	display: inline-block;
			    text-align: center;
			    width: 80px;
			    height: 20px;
			    line-height: 20px;
			    font-size: 12px;
			    color: #fff;
			    background: #c8a985;
			    border-radius: 10px;
		    }
		    .vip_x{
		    	position: absolute;
			    left: 0px;
			    top: 28px;
			    width: 202px;
			    height: 124px;
			    background: #FFF;
			    z-index: 1;
			    border: 1px solid #CCC;
			    border-top: none;
			    border-radius: 3px;
			    text-align: center;
			    padding-top: 20px;
			    display: none;
			    .str{
			    	position: absolute;
				    top: -6px;
				    left: 0px;
				    width: 202px;
				    height: 6px;
				    background: url(http://img550.5lux.com.cn/2017/06/13/mn/149734560273_202x6.jpg) no-repeat;
			    }
			    p{
			    	font-size: 12px;
			    	text-align: center;
			    	line-height: 24px;
			    	a{
			    		display: inline-block;
					    width: 110px;
					    height: 24px;
					    background: #c8a985;
					    color: #FFF;
					    border-radius: 5px;
					    margin-top: 10px;
					    font-size: 12px;
			    	}
			    }
		    }
		}
		.erwei{
			float: right;
		    width: 200px;
		    height: 30px;
		    position: relative;
		    margin-top: 6px;
		    cursor: pointer;
		    &:hover img{
				display: block;
		    }
		    img{
		    	position: absolute;
			    left: 0px;
			    top: 30px;
			    z-index: 90;
			    cursor: pointer;
			    display: block;
			    display: none;
		    }
		    i{
		    	display: inline-block;
			    width: 27px;
			    height: 26px;
			    background: url(http://img550.5lux.com.cn/2017/06/09/qr/149697742783_27x26.jpg) no-repeat;
		    }
		    b{
		    	display: inline-block;
			    width: 12px;
			    height: 26px;
			    margin: 0px 2px;
			    background: url(http://img550.5lux.com.cn/2017/06/16/wx/149761259453_12x26.png) no-repeat;
		    }
		    div{
		    	position: absolute;
			    width: 120px;
			    top: 0;
			    left: 50px;
			    height: 26px;
			    p{
			    	line-height: 14px;
			    	font-size: 12px;
			    }
		    }
		}
	}
}
.act{
	padding-left: 13px;
	overflow: hidden;
	line-height: 24px;
	thead tr{
		vertical-align: top;
		th{
			span{
				line-height: 35px;
				font-size: 12px;
				color:#000;
			}
			b{
				width: 50px;
			    height: 35px;
			    display: inline-block;
			    float: right;
			    cursor: pointer;
			    background: url(../images/brandstore_share.png) no-repeat -369px -283px;
			}
		}
	}
	tbody tr{
		td{
			dl{
				margin-top: -31px;
				a{
					line-height: 35px;
					font-size: 12px;
					dd{
						line-height: 28px;
    					color: #c8a985;
					}
				}
			}
		}
	}
}
.size{
	margin-top: 15px;
	width: 100%;
	overflow: hidden;
	.size_l{
		width: 80px;
	    float: left;
	    padding-left: 13px;
	    text-align: left;
	    overflow: hidden;
	    span{
	    	font-size: 12px;
	    	line-height: 24px;
	    }
	}
	.size_r{
		width: 460px;
	    min-width: 110px;
	    float: left;
	    overflow: hidden;
	    position: relative;
	    .item{
	    	float: left;
		    margin: 0 13px 13px 0;
		    position: relative;
		    min-width: 32px;
		    border: 1px solid #c9c9c9;
		    a{
		    	display: block;
			    padding: 3px 4px;
			    background-color: #fff;
			    text-align: center;
			    min-width: 22px;
			    line-height: 24px;
		    }
	    }
	}
}
.commColor{
	margin-top: 15px;
	width: 100%;
    overflow: hidden;
    .commColor_l{
    	width: 80px;
	    float: left;
	    padding-left: 13px;
	    text-align: left;
	    overflow: hidden;
	    span{
	    	font-size: 12px;
	    	line-height: 24px;
	    }
    }
    .commColor_r{
    	width: 460px;
	    min-width: 110px;
	    float: left;
	    overflow: hidden;
	    position: relative;
	    .item{
	    	float: left;
	    	border: 1px solid #dc0000;
		    margin: 0 13px 13px 0;
		    position: relative;
		    min-width: 32px;
		    a{
		    	display: block;
			    padding: 3px 4px;
			    background-color: #fff;
			    text-align: center;
			    min-width: 22px;
			    line-height: 24px;
		    }
	    }
    }
}
.num{
	padding-bottom: 20px;
	margin-top: 15px;
	width: 100%;
    overflow: hidden;
    .num_l{
    	width: 80px;
	    float: left;
	    padding-left: 13px;
	    text-align: left;
	    overflow: hidden;
	    span{
	    	font-size: 12px;
	    	line-height: 24px;
	    }
    }
    .num_r{
    	width: 135px;
	    min-width: 110px;
	    float: left;
	    overflow: hidden;
	    position: relative;
	    .num_w{
	    	width: 100%;
		    position: relative;
		    float: left;
		    height: 23px;
		   a{
		   	display: block;
		    width: 22px;
		    height: 22px;
		    position: absolute;
		   
		   }
		   .btns_l{
		   	left: 0px;
    		background: url(../images/brandstore_share.png) no-repeat -311px -292px;
		   }
		   .btns_r{
		   	left: 72px;
    		background: url(../images/brandstore_share.png) no-repeat -268px -292px;
		   }
		   input{
		   	display: block;
		    width: 42px;
		    height: 19px;
		    line-height: 19px;
		    vertical-align: middle;
		    font-weight: bold;
		    margin-left: 24px;
		    text-align: center;
		   }
	    }
    }
}
.hint{
	dl{
		width: 100%;
	    display: inline-block;
	    color: #999;
	    dt{
	    	display: block;
		    padding-left: 13px;
		    width: 80px;
		    float: left;
		    font-size: 12px;
    		line-height: 24px;
	    }
	    dd{
	    	float: left;
		    display: block;
		    width: 422px;
		    font-size: 12px;
		    line-height: 24px !important;
		    a{
		    	span{
		    		color: #c8a985;
		    		font-size: 12px;
   					line-height: 24px;
		    	}
		    }
	    }
	}
}
.joinCart{
	position: relative;
	margin-top: 15px;
	.joinCart_l,.joinCart_r{
		height: 35px;
    	float: left;
    	margin-left: 10px;
	}
	.joinCart_r{
		position: relative;
		b{
			width: 25px;
		    height: 35px;
		    left: 24px;
		    top: 0;
		    display: inline-block;
		    position: absolute;
		    background: url(../images/brandstore_share.png) no-repeat -270px -335px;
		}
	}
}
.once{
	display: inline-block;
    font-size: 14px;
    color: #c8a985;
    line-height: 33px;
    height: 33px;
    width: 118px;
    border: 1px solid #c8a985;
    text-align: center;
}
.join{
	display: inline-block;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    font-size: 14px;
    cursor: pointer;
    padding: 0px 28px 0px 52px;
    background: rgb(200, 169, 133);
}
.hui{
	padding: 10px 0 10px;
}

.borderF{
	border-bottom: 1px dotted #bfbfbf;
}
.fontSize18{
	font-size: 18px;
}
.color999{
	color:#999;
}
.color000{
	color: #000;
}
.iCon{
	padding-bottom: 20px;
	padding-top: 30px;
    height: 48px;
    overflow: hidden;
    .iCon_w{
    	float: left;
	    height: 48px;
	    margin-right: 40px;
	    cursor: pointer;
	    i{
	    	display: inline-block;
		    width: 48px;
		    height: 48px;
		    background-repeat: no-repeat;
		    background-size: 48px 48px;
		    margin-right: 16px;
		    float: left;
	    }
	    p{
	    	font-size: 14px;
		    color: #999;
		    margin: 0;
		    height: 48px;
		    line-height: 48px;
		    float: left;
	    }
	    .zhp{
	    	background-image: url(../images/guaranteed_warranty.png);
	    }
    }
}

footer{
	height: 601px;
    background: url(../images/footer_message_bg.jpg) center;
    border-top: 1px solid #c9c9c9;
    .footer_top{
    	width: 1210px;
    	height: 117px;
    	margin:0 auto;
    	.footer_top_ul{
    		height: 117px;
    		border-bottom: 1px solid #c9c9c9;
    		.ali{
    			width: 242px;
			    height: 64px;
			    float: left;
			    margin-top: 26px;
			    img{
			    	display: block;
			    	float: left;
			    }
			    div{
		    	    display: inline-block;
				    float: left;
				    width: 160px;
				    height: 48px;
				    margin-top: 8px;
				    margin-left: 5px;
				    p:nth-child(1){
				    	font-weight: bold;
				    }
			    }
    		}
    	}
    }
    .footer_main{
    	width: 1210px;
    	height: 283px;
    	margin:0 auto;
    	.footer_main_ul{
    		margin-left: 20px;
    		.bli{
    			width: 185px;
    			height: 160px;
    			float: left;
    			ul{
    				li:nth-child(1){
    					font-weight: bold;
					    margin-top: 20px;
					    margin-bottom: 20px;
					    color: #000;
    				}
    				.cli{
    					color:#333;
    				}
    			}
    		}
    	}
    }
    .footer_footer{
    	width: 1210px;
    	height: 177px;
    	margin:0 auto;
    	.footer_footer_a{
    		width: 1210px;
    		height: 66px;
    		text-align: center;
    		color:white;
    		line-height: 66px;
    		a{
    			color:white;
    		}
    	}
    }
    .footer_footer_b{
    	width: 1210px;
    	height: 48px;
    	margin:0 auto;
    	text-align: center;
    	color:white;
    	a{
			color:white;
		}
    }
    .footer_footer_c{
    	width: 1210px;
    	height: 40px;
    	margin-top: 23px;
    	text-align: center;
    }
}
.offside{
	position: fixed;
	z-index: 90;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    dl{
    	height: 100%;
	    width: 335px;
	    overflow: hidden;
	    dt,dd{
	    	display: inline-block;
		    float: left;
		    overflow: hidden;
		   
	    }
	    dt{
	    	width: 35px;
    		height: 100%;
    		.offside_t{
    			position: absolute;
			    z-index: 2;
			    top: 30%;
			    left: 0px;
			    width: 35px;
			    height: 234px;
			    ul li a{
			    	display: block;
				    position: relative;
				    width: 35px;
				    height: 35px;
				    cursor: pointer;
				    .tab_logo1{
						background: url(../images/share02.png) no-repeat -88px -156px;
						&:hover{
							background: url(../images/share02.png) no-repeat -88px -121px;
						}
				    }
				    .tab_logo2{
						background: url(../images/share02.png) no-repeat -140px -154px;
						&:hover{
							background: url(../images/share02.png) no-repeat -141px -124px;
						}
				    }
				    .tab_logo3{
				    	background: url(../images/share02.png) no-repeat -202px -155px;
				    	&:hover{
							background: url(../images/share02.png) no-repeat -203px -126px;
						}
				    }
				    .tab_logo4{
				    	background: url(../images/share02.png) no-repeat -258px -125px;
				    }
				    .tab_logo{
				    	position: absolute;
					    left: 0;
					    top: 0;
					    width: 35px;
					    height: 35px;
				    }
			    }
    		}
.tap_tip{
    	display: none;
    	position: absolute;
	    z-index: 999999;
	    right: 35px;
	    top: 0px;
	    width: 99px;
	    height: 33px;
	    line-height: 33px;
	    text-align: center;
	    color: rgb(54, 54, 54);
	    background-color: rgb(255, 255, 255);
	    font-size: 14px;
	    border-width: 1px 1px 1px;
	    border-style: solid none solid solid;
	    border-color: rgb(228, 228, 228) rgb(228, 228, 228) rgb(228, 228, 228);
	    border-right: none;
    }
.tap_tip_arr{
    	position: absolute;
	    z-index: -1;
	    width: 16px;
	    height: 16px;
	    line-height: 16px;
	    text-align: center;
	    font-size: 27px;
	    top: 10px;
	    right: -8px;
	    color: #fff;
    }
.offside_b{
	position: absolute;
    z-index: 2;
    bottom: 35px;
    left: 0px;
    width: 35px;
    height: 140px;
     ul li a{
    	display: block;
	    position: relative;
	    width: 35px;
	    height: 35px;
	    cursor: pointer;
	    .tab_logo5{
			background: url(../images/share02.png) no-repeat -312px -155px;
			&:hover{
				background: url(../images/lux_index.png) -475px -52px no-repeat;
			}
	    }
	    .tab_logo6{
			background: url(../images/share02.png) no-repeat -374px -157px;
			&:hover{
				background:url(../images/lux_index.png) -124px -52px no-repeat;
			}
		}
	    .tab_logo7{
	    	background:url(../images/line_bg.png) 10px 9px no-repeat;
	    	&:hover{
				background: url(../images/line_bg.png) 10px -19px no-repeat;
	    	}
	    }
	    .tab_logo8{
	    	background:url(../images/share02.png) no-repeat -437px -153px;
	    	&:hover{
				background: url(../images/lux_index.png) -401px -52px no-repeat;
	    	}
	    }
	    .tab_logo{
	    	position: absolute;
		    left: 0;
		    top: 0;
		    width: 35px;
		    height: 35px;
	    }
    }
    .box_i{
    	display: none;
    	position: absolute;
	    top: 0px;
	    right: 35px;
	    width: 124px;
	    height: 135px;
	    background: #fff;
	    z-index: 999999;
	    cursor: default;
	    border: 1px solid #e4e4e4;
	    border-right: 0;
    }
}
.offside_t,.offside_b ul{
	li{
		display: block;
	    position: relative;
	    width: 35px;
	    height: 35px;
	    cursor: pointer;
	    z-index: 9;
	    vertical-align: top;
	    padding-bottom: 1px;
		background-color: #333;
	    margin-bottom: 1px;
	    border-top-left-radius: 5px;
	    border-bottom-left-radius: 5px;
	    &:hover{
	    	background-color: #c69c6d;
	    }
	}
}

}
	dd{
		background: #000;
		width: 298px;
		height: 100%;
	}
}
}
